# Python artifacts
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.pyc

# Distribution / packaging
build/
dist/
eggs/
.eggs/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Pytest
.pytest_cache/
coverage.xml
*.cover
htmlcov/

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# VS Code
.vscode/

# macOS
.DS_Store
